.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  width: 100%;
}

.dropdown-scroll {
  max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bs-bg-color);
}

.dropdown-msg {
  /* Makes it so it is connected to the dropdown */
  margin-top: calc(-1 * var(--bs-list-group-border-width));
  /* Make the item smaller */
  font-size: calc(0.75 * var(--bs-body-font-size));
}

/* Add hover coloring / animation */
.dropdown-scroll > .list-group-item:hover {
  background-color: var(--bs-list-group-active-bg);
  color: var(--bs-list-group-active-color);
  border-color: var(--bs-list-group-active-border-color);
  border-width: var(--bs-list-group-border-width);
  cursor: pointer;
}

.bof-search {
  position: relative;
  width: 100%;
  padding: 0;
}

.bof-search-advanced {
  display: flex;
  flex-direction: column;
  gap: 2;
}
