.app-layout {
  min-height: 100vh;
  transition: padding-top 0.3s ease;
}

.app-panel {
  max-width: 900px;
  width: 100%;
  border: var(--bs-border-width) solid var(--bs-dark-text-emphasis);
  border-radius: var(--bs-border-radius);
  position: relative;
}

.app-settings-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.tab-content {
  border-left: var(--bs-border-width) solid var(--bs-border-color);
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
  border-right: var(--bs-border-width) solid var(--bs-border-color);
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
  box-sizing: border-box;
}

.bof-usage {
  white-space: pre-wrap;
}

.footer a {
  text-decoration: none;
  --bs-link-color-rgb: var(--bs-body-color);
}
