/* BOOTSTRAP OVERWRITES */
.btn-primary {
  --bs-btn-bg: var(--bs-primary-bg-subtle);
  --bs-btn-border-color: var(--bs-primary-bg-subtle);
  --bs-btn-hover-bg: var(--bs-secondary-color);
  --bs-btn-hover-border-color: var(--bs-secondary-color);
  --bs-btn-active-bg: var(--bs-primary-bg-subtle);
  --bs-btn-active-border-color: var(--bs-primary-bg-subtle);
}

.accordion-button {
  --bs-accordion-active-color: var(--bs-accordion-btn-color);
  font-weight: var(--bs-font-weight-bold);
}

.accordion-button::after,
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}

.accordion-button:focus {
  --bs-accordion-btn-focus-box-shadow: 0;
}

.nav-tabs {
  --bs-gutter-x: none;
}

.nav-item {
  flex-grow: 1;
}

.nav-link {
  --bs-nav-link-color: var(--bs-secondary-color);
  --bs-nav-link-hover-color: var(--bs-secondary-color);
  width: 100%;
}

.nav-link:hover {
  text-decoration: underline;
}

.list-group-item,
.list-group-item.active {
  --bs-list-group-active-bg: var(--bs-body-bg);
}
